.item1{
 background-color: #616161 ;
 animation: movement-1 infinite alternate .5s;

 
}

.item2{
    background-color: #616161 ;
    animation: movement-1 infinite alternate .5s .2s; 
    
}

.item3{
    background-color: #616161;
    animation: movement-1 infinite alternate .5s .4s;
 
}

@keyframes movement-1 {

    
    from{
        scale: .8;
    }
    
    to{
        scale: 1;
        transform: translate(0,140px);
    }


}

